# ===================================================================
# Файл с секретными данными (ТОКЕН БОТА)
# ===================================================================
config.properties

# ===================================================================
# Файлы и папки сборочной системы Gradle
# ===================================================================
.gradle/
build/

# ===================================================================
# Файлы и папки IDE (IntelliJ IDEA, Eclipse, VSCode)
# ===================================================================
# IntelliJ
.idea/
*.iml
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/

# ===================================================================
# Системные файлы операционных систем (macOS, Windows, Linux)
# ===================================================================
.DS_Store
Thumbs.db
*~
*.swp

# ===================================================================
# Лог-файлы и временные файлы
# ===================================================================
*.log
*.tmp
*.temp

# ===================================================================
# Скомпилированные архивы Java
# ===================================================================
*.jar
*.war
*.ear